<p class="text-danger" style="padding: 8px;background-color: lightgreen;margin-left: -12px;margin-right: -12px;">Date Operations</p>
<div style="padding: 20px;">
    Date 1: <input type="date" id="date1" name="date1" #date1><br>
    Date 2: <input type="date" id="date2" name="date2" #date2><br><br>
    <button class="btn btn-primary" (click)="checkdays(date1,date2)">days difference</button>
    <button class="btn btn-primary" (click)="checkmonths(date1,date2)">months difference</button><br><br>
    <p>Days difference: {{days}}</p>
    <p>Month difference: {{months}}</p>
</div>